body{
    background-color: orange;
    text-align: center;
}
input[type=file] {
    display:inline-block;
    }
img {
    width:70%;
    }

h3{
    color:green;
    }

h1{
    font-weight: bold;
    }

hr{
    border: 5px solid black;
    border-radius: 5px;
    }
select{
    text-transform:uppercase;
    height: 50px;
    width:120px;
    border-radius:5px;
}
.element
{
    text-transform:uppercase !important;
    border-style:solid;
    border-radius:5px;
    font-family:sans-serif; 
}